$imgURL: url('../../../images/EaJkVpYWAAErYuH.jpg');
$darkColor: #060606;

.photoBlock {
    width: 100%;
    height: 1000px;
    background: $imgURL center center / 100% no-repeat fixed $darkColor;
    background-blend-mode: exclusion;
    display: flex;
    justify-content: center;
    padding-top: 250px;
    -webkit-box-shadow: 2px 9px 14px 0px rgba(50, 50, 50, 0.86);
    -moz-box-shadow:    2px 9px 14px 0px rgba(50, 50, 50, 0.86);
    box-shadow:         2px 9px 14px 0px rgba(50, 50, 50, 0.86);
}

.photoBlock_title {
    padding-top: 50px;
    color: #2a2c40;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 900;
    width: 50%;
    height: 50%;
    // background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
    background-color: rgba(208, 216, 255, 0.5);
    -webkit-box-shadow: 3px 15px 25px 0px rgba(50, 50, 50, 0.85);
    -moz-box-shadow:    3px 15px 25px 0px rgba(50, 50, 50, 0.85);
    box-shadow:         3px 15px 25px 0px rgba(50, 50, 50, 0.85);
}

.photoBlock_subTitle {
    margin-top: 20px;
    font-size: 20px;
    color: white;
}

.photoBlock_icons__wrapper {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 140px;
    color: #080808;
}

@media (max-width: 1600px) {
    .photoBlock {
        height: 900px;
        padding-top: 200px;
        background: $imgURL top center / 100% no-repeat fixed $darkColor;
    }
    .photoBlock_title {
        margin-top: 30px;
        padding-top: 40px;
        width: 55%;
        height: 60%;
        font-size: 25px;
    }
    .photoBlock_subTitle {
        font-size: 15px;
        width: 90%;
        margin: 0 auto;
        margin-top: 30px;
        font-size: 20px;
    }
    .photoBlock_icons__wrapper {
        margin-top: 180px;
        width: 60%;
    }
}

@media (max-width: 1400px) {
    .photoBlock {
        height: 800px;
        padding-top: 150px;
        background: $imgURL top center / 100% no-repeat fixed $darkColor;
    }
    .photoBlock_title {
        margin-top: 0px;
        padding-top: 40px;
        width: 55%;
        height: 60%;
        font-size: 25px;
    }
    .photoBlock_subTitle {
        font-size: 15px;
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
        font-size: 20px;
    }
    .photoBlock_icons__wrapper {
        margin-top: 160px;
        width: 60%;
    }
}

@media (max-width: 1250px) {
    .photoBlock {
        height: 750px;
        padding-top: 150px;
        background: $imgURL top center / 110% no-repeat fixed $darkColor;
    }
    .photoBlock_title {
        margin-top: 20px;
        padding-top: 40px;
        width: 60%;
        height: 60%;
        font-size: 25px;
    }
    .photoBlock_subTitle {
        font-size: 15px;
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
        font-size: 20px;
    }
    .photoBlock_icons__wrapper {
        margin-top: 150px;
        width: 75%;
    }
}

@media (max-width: 1200px) {
    .photoBlock {
        height: 650px;
        padding-top: 150px;
        background: $imgURL top center / 110% no-repeat fixed $darkColor;
    }
    .photoBlock_title {
        //margin-top: -20px;
        padding-top: 40px;
        width: 60%;
        height: 60%;
        font-size: 25px;
    }
    .photoBlock_subTitle {
        font-size: 15px;
        width: 90%;
        margin: 0 auto;
        margin-top: 30px;
        font-size: 20px;
    }
    .photoBlock_icons__wrapper {
        margin-top: 130px;
        width: 75%;
    }
}

@media (max-width: 930px) {
    .photoBlock {
        height: 600px;
        background: $imgURL top center / 130% no-repeat fixed $darkColor;
    }
    .photoBlock_title {
        margin-top: 0px;
        padding-top: 40px;
        width: 70%;
        height: 60%;
        font-size: 25px;
    }
    .photoBlock_subTitle {
        font-size: 15px;
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
        //font-size: 20px;
    }
    .photoBlock_icons__wrapper {
        margin-top: 120px;
        width: 75%;
    }
}

@media (max-width: 900px) {
    .photoBlock {
        height: 600px;
        background: $imgURL top center / 130% no-repeat fixed $darkColor;
    }
    .photoBlock_title {
        margin-top: 0px;
        padding-top: 40px;
        width: 70%;
        height: 60%;
        font-size: 25px;
    }
    .photoBlock_subTitle {
        font-size: 15px;
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
        //font-size: 20px;
    }
    .photoBlock_icons__wrapper {
        margin-top: 110px;
        width: 75%;
    }
}

@media (max-width: 750px) {
    .photoBlock {
        height: 500px;
        padding-top: 80px;
        background: $imgURL top center / 150% no-repeat fixed $darkColor;
    }
    .photoBlock_title {
        margin-top: 60px;
        padding-top: 40px;
        width: 70%;
        height: 60%;
        font-size: 25px;
    }
    .photoBlock_subTitle {
        font-size: 15px;
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
        font-size: 16px;
    }
    .photoBlock_icons__wrapper {
        margin-top: 80px;
        width: 75%;
    }
}

@media (max-width: 600px) {
    .photoBlock {
        height: 430px;
        padding-top: 60px;
        background: $imgURL top center / 150% no-repeat fixed $darkColor;
    }
    .photoBlock_title {
        margin-top: 60px;
        padding-top: 30px;
        width: 70%;
        height: 60%;
        font-size: 20px;
    }
    .photoBlock_subTitle {
        font-size: 15px;
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
    }
    .photoBlock_icons__wrapper {
        width: 80%;
        margin-top: 70px;
    }
}

@media (max-width: 450px) {
    .photoBlock {
        height: 380px;
        padding-top: 40px;
        background: $imgURL top center / 200% no-repeat fixed $darkColor;
    }
    .photoBlock_title {
        margin-top: 60px;
        padding-top: 30px;
        width: 85%;
        height: 60%;
        font-size: 18px;
    }
    .photoBlock_subTitle {
        font-size: 12px;
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;
    }
    .photoBlock_icons__wrapper {
        margin-top: 50px;
        width: 80%;
        font-size: 10px;
    }
}

@media (max-width: 350px) {
    .photoBlock {
        height: 340px;
        padding-top: 40px;
        background: $imgURL top center / 230% no-repeat fixed $darkColor;
    }
    .photoBlock_title {
        margin-top: 50px;
        padding-top: 30px;
        width: 85%;
        height: 70%;
        font-size: 16px;
    }
    .photoBlock_subTitle {
        font-size: 12px;
    }
    .photoBlock_icons__wrapper {
        width: 80%;
    }
}