.tipMain {
    width: 100%;
    height: 60px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #ffffff;
    font-weight: 400;
    font-size: 15px;
    position: relative;
    // position: fixed;
    // top: 100px;
    // left: 100px;
    display: flex;
    justify-content: right;
    align-items: center;
}

@keyframes hide {
    from {
        transform: translateY(-300px);
    }
    to {
        transform: translateY(0px);
    }
}