@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

.mainFooter {
    height: 80px;
    margin: 0 auto;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Poiret One', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}