.menuToggle {
    position: fixed;
    top: 15px;
    left: 20px;
    cursor: pointer;
    z-index: 90;
    font-size: 20px;
}

.menuToggle.open {
    //transform: translateX(-20px);
}

.closeIcon {
    //display: block;
    position: fixed;
    top: 15px;
    left: 85%;
    z-index: 100;
}