.drawer {
    background-color: #e47a7a;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    box-sizing: border-box;
    z-index: 95;
    transform: translateX(0%);
    transition: transform .2s ease-in;
    padding: 40px;
}

.drawer.close {
    transform: translateX(-100%);
}

.root {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 20px;
    li {
        list-style:none;
        margin-bottom: 20px;
        font-size: 20px;
        a {
            color: white;
            text-transform: uppercase;
            font-weight: 700;
        }
    }
    button {
        color: white;
        background-color: #e47a7a;
        text-transform: uppercase;
        font-weight: 700;
    }
}