.mainWrapper__request {
    width: 100%;
    //height: 100vh;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100vh);
}

.requestTitle {
    font-size: 20px;
    font-weight: 700;
}

.mainRequests {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.formWrapper {
    padding-top: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    padding-bottom: 50px;
    margin: 0 auto;
    margin-top: 30px;
}

.request__button {
    margin-top: 20px;
}

.formRequestError {
    color: #790707;
    text-transform: lowercase;
    font-weight: 500;
}

.formGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2d2c2c;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    width: 280px;
    margin-top: 30px;
    input {
        border-radius: 5px;
        width: 100%;
        height: 30px;
        text-align: center;
        margin: 20px 0 5px 0;
        -webkit-box-shadow: 4px 6px 18px 0px rgba(34, 60, 80, 0.67);
        -moz-box-shadow: 4px 6px 18px 0px rgba(34, 60, 80, 0.67);
        box-shadow: 4px 6px 18px 0px rgba(34, 60, 80, 0.67);
    }
    :hover {
        transform: scale(1.04);
    }
}

@media (max-width: 450px) {
    .mainRequests {
        height: auto;
    }
}

@media (max-width: 350px) {
    .formWrapper {
        width: 90%;
    }
    .formGroup {
        width: 90%;
    }
    .buttonGroup {
        padding-bottom: 50px;
    }
}